mysql-connector-python==8.0.29
captcha==0.4
pandas==1.5.2
Pillow==8.2.0
pyecharts==1.9.1
requests==2.28.1
selenium==4.8.0
streamlit==1.16.0
streamlit-echarts==0.4.0
streamlit-on-Hover-tabs==1.0.1
yfinance==0.2.9
geopy==2.3.0
